<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="springboot.dao.UserDo">
	<sql id="Base_Column_List">
		id,account,password,phone_number,user,authorize,create_time,update_time,is_deleted,remarks
	</sql>

	<sql id="getList-Where">
		WHERE xinxiren_user.is_deleted = 0
		<if test="id !=null and id !=''">and xinxiren_user.id = #{id}</if>
		<if test="account !=null and account !=''">and xinxiren_user.account = #{account}</if>
		<if test="phoneNumber !=null and phoneNumber !=''">and xinxiren_user.phone_number = #{phoneNumber}</if>
		<if test="userName !=null and userName !=''">and xinxiren_user.user = #{userName}</if>
		<if test="authorize !=null and authorize !=''">and xinxiren_user.authorize = #{authorize}</if>
		<if test="rid !=null and rid !=''">and role.id = #{rid}</if>
	</sql>

	<sql id="updateUser-Set">
		<if test="phoneNumber !=null and phoneNumber !=''"> phone_number = #{phoneNumber},</if>
		<if test="userName !=null and userName !=''"> user = #{userName},</if>
		<if test="authorize !=null and authorize !=''"> authorize = #{authorize},</if>
		update_time=CURRENT_TIMESTAMP
	</sql>

	<resultMap id="UserRoleMap" type="springboot.domain.bean.XinxirenUserBean">
		<id column="id" property="id"/>
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="phone_number" property="phoneNumber" />
		<result column="user" property="userName" />
		<result column="authorize" property="authorize" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="remarks" property="remarks" />
		<association property="role" javaType="springboot.domain.Role">
			<id column="id" property="id"/>
			<result column="name" property="name" />
			<result column="remarks" property="remarks" />
			<result column="usable" property="usable" />
		</association>
	</resultMap>
	<select id="GetUserList" resultMap="UserRoleMap" parameterType="springboot.common.query.XinxirenUserQuery">
		SELECT
		xinxiren_user.*,
		role.*
		FROM
		xinxiren_user LEFT JOIN user_role on xinxiren_user.id = user_role.uid JOIN role on user_role.rid = role.id
		<include refid="getList-Where"></include>
	</select>

	<insert id="AddUser" keyProperty="id" useGeneratedKeys="true" parameterType="springboot.common.query.XinxirenUserQuery">
		insert into xinxiren_user
		(account,password,phone_number,user,authorize,create_time,update_time,is_deleted,remarks)
		values
		(#{account},#{password},#{phoneNumber},#{userName},#{authorize},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0,#{remarks})
	</insert>

	<select id="SelectOne" parameterType="springboot.common.query.XinxirenUserQuery" resultMap="UserRoleMap">
		SELECT
		xinxiren_user.*,
		role.*
		FROM
		xinxiren_user LEFT JOIN user_role on xinxiren_user.id = user_role.uid JOIN role on user_role.rid = role.id
		<include refid="getList-Where"></include>
	</select>

	<update id="deleteUser">
		UPDATE xinxiren_user SET is_deleted=1,update_time=CURRENT_TIMESTAMP WHERE is_deleted=0 and id=#{userId}
	</update>

	<update id="updateUser" parameterType="springboot.common.query.XinxirenUserQuery">
		update
		xinxiren_user set
		<include refid="updateUser-Set"></include>
		where is_deleted = 0
		and id=#{id}
	</update>

</mapper>
